
@{
    ViewData["Title"] = "Index";
}


<div class="cd-dashboard provider">


    <div class="govuk-width-container">


        <main class="govuk-main-wrapper govuk-body " id="main-content" role="main"aria-labelledby="pagetitle" >
            <h1 id="pagetitle" class="govuk-heading-m">
                Get help from the Course Directory Support Team
            </h1>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">Call 0844 811 5073 or email support@coursedirectoryproviderportal.org.uk</p>
                    <p class="govuk-caption-m">Monday to Friday, 9am to 5pm</p>
                    <p class="govuk-caption-m">Find out about <a href="https://www.gov.uk/call-charges">call charges</a>.</p>






                </div>


            </div>
        </main>
    </div>
</div>

