
@{
    ViewData["Title"] = "Index";
}


<div>
    <h1>wireframes</h1>

    <ul class="list">
        <li><a asp-controller="Providers" asp-action="add">Add a provider</a></li>
        <li><a asp-controller="Providers" asp-action="Index">Search for a provider</a></li>
        <li><a asp-controller="Lars" asp-action="Index">LARS Search</a></li>
    </ul>
</div>

