
@{
    ViewData["Title"] = "Index";
}
<div class="cd-info-summary" aria-labelledby="info-summary-title" role="alert" tabindex="-1" data-module="info-summary">
    <h2 class="cd-info-summary__title" id="info-summary-title">
        Info
    </h2>
    <div class="cd-info-summary__body">
        <p>Info message</p>
    </div>
</div>
<div class=" homepage-item govuk-body ">
    <div class="cd-status-panel slim blue">
        Migration 
        <a asp-controller="home" asp-action="Migration3" class="govuk-link"> View details about the information we have transferred about your courses.</a>
    </div>
</div>

<div class="cd-dashboard provider govuk-body">
    <h1 class="govuk-heading-xl cd-dashboard-title">Publish to the course directory</h1>
    <hr class="spacer" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                <div class="govuk-grid-column-one-half homepage-item ">
                    <div class="cd-migration-panel">
                        <h2 class="cd-migration-panel__title">Manage your courses</h2>
                        <span class="cd-migration-panel__number"><a asp-controller="courses" asp-action="Courselistfullwidth6" class="govuk-link">233</a></span><span> courses</span><br />
                        @*<span class="govuk-body-s">courses in the course directory</span>*@
                        <br />
                    </div>
                    <ul class="govuk-list cd-homepage__list">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">Add a new course</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="courses" asp-action="Courselistfullwidth6" class="govuk-link">View, edit, copy or delete a course</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="BulkUpload" class="govuk-link">Bulk upload course information</a>
                        </li>
                    </ul>
                </div>
                @*<div class="govuk-grid-column-one-half homepage-item ">
                    <div class="cd-migration-panel  ">
                        <h2 class="cd-migration-panel__title">Manage your apprenticeship training</h2>
                        <span class="cd-migration-panel__number"><a href="#">23</a></span><br />
                        <span class="govuk-body-s">apprenticeship training in the course directory</span>
                    </div>
                    <ul class="govuk-list cd-homepage__list">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">Add new apprenticeship training</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">View, edit, copy or delete apprenticeship training</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="BulkUpload" class="govuk-link">Bulk upload apprenticeship training information</a>
                        </li>
                    </ul>
                </div>*@
                <div class="govuk-grid-column-one-half homepage-item ">
                    <div class="cd-migration-panel">
                        <h2 class="cd-migration-panel__title">Manage your locations</h2>
                        <span class="cd-migration-panel__number"><a href="#">4</a></span><spn> locations</spn><br />
                        @*<span class="govuk-body-s">14% of 99,876 migrated courses</span>*@
                                                                                                              <br />
                    </div>
                    <ul class="govuk-list cd-homepage__list">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">Add a new location</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">View, edit or delete a location</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <aside class="sidebar">
                <div class="widget white ">
                    <h3>Other actions</h3>

                    <ul class="govuk-list cd-homepage__lis">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">View and edit your organisation details in the course directory</a>
                        </li>
                        <li class="cd-homepage__list--item">
                            <a asp-controller="AddCourse" asp-action="Index" class="govuk-link">Add a new user</a>
                        </li>
                        <li class="cd-homepage__list--item">

                            <a asp-controller="AddCourse" asp-action="BulkUpload" class="govuk-link">Edit my user account</a>
                        </li>
                    </ul>
                </div>
            </aside>

        </div>
    </div>



</div>
<script type="text/javascript">sap = { ui: { keycodes: { SPACE: 32, ENTER: 13 } } };
    //handles clicks and keydowns on the link
    function navigateLink(evt) {
        if (evt.type == "click" ||
            evt.keyCode == sap.ui.keycodes.ENTER) {
            var ref = evt.target != null ? evt.target : evt.srcElement;
            if (ref) window.open(ref.getAttribute("href"), "_parent");
        }
    }</script>

