
@{
    ViewData["Title"] = "Index";
}


<div class="cd-dashboard provider">
    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl cd-dashboard-title">Course management dashboard</h1>
    <hr class="spacer" />



    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <div class="cd-status-panel blue govuk-body">
                <div>
                    <h2 class="govuk-heading-m ">Your details</h2>
                    <strong>Course directory satus</strong>
                    <p>Live</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                </div>
                <div>
                    <strong>UKPRN</strong>
                    <p>10008802</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                </div>
                <div>
                    <strong>
                        Name registered with
                        UKRLP
                    </strong>
                    <p>CSM Consulting Ltd</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                </div>
                <div>
                    <strong>Trading name</strong>
                    <p>UCAN</p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                </div>
                <a href="#">Edit your details</a>
            </div>

            @*<div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p>govuk-grid-column-one-half</p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p>govuk-grid-column-one-half</p>
                </div>
            </div>*@
            <div class="">
                <div class="govuk-grid-column-one-half ">
                    <div class="cd-status-panel grey govuk-body">
                        <h3 class="govuk-heading-l">Migration status</h3>
                        <p>Your migration status</p>
                        <a href="#">more</a>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half ">
                    <div class="cd-status-panel grey govuk-body">
                        <h3 class="govuk-heading-l">2</h3>
                        <div class="govuk-heading-s">Venues</div>
                        <a href="#">Manage your venues</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="cd-status-panel grey govuk-body">
                <h3 class="govuk-heading-l">62</h3>
                <div class="govuk-heading-s">Live courses</div>
                <a href="#">Manage your courses</a>
            </div>
            <div>
                <h2>actions</h2>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Fix and publish a pending course</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Delete a pending course </a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Fix and publish a pending course</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Delete a pending course </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="govuk-heading-l">Recent activity</h2>
    <div class="cd-activity-item ">
        <h3 class="govuk-heading-m cd-activity-item-heading ">Maths and applied physics</h3>
        <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
    </div>
    <div class="cd-activity-item">
        <h3 class="govuk-heading-m cd-activity-item-heading ">Maths and applied physics</h3>
        <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
    </div>
    <div class="cd-activity-item">
        <h3 class="govuk-heading-m cd-activity-item-heading ">Maths and applied physics</h3>
        <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="cd-status-panel grey">
                <h3 class="govuk-heading-l">whats new</h3>

                <div class="">Pending courses</div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="cd-status-panel grey">
                <h3 class="govuk-heading-l">whats new</h3>
                <div class="">Pending courses</div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Fix and publish a pending course</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Delete a pending course </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

