
@{
    ViewData["Title"] = "Index";
}


<div>
    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl">User Journeys</h1>
   
    <p class="govuk-body">Select a journey from the list below</p>


    <ul class="govuk-list">
        <li><a asp-controller="Providers" asp-action="add">Add a provider</a></li>
        <li><a asp-controller="Providers" asp-action="Index">Search for a provider</a></li>
        <li><a asp-controller="Lars" asp-action="Index">LARS Search</a></li>
    </ul>
</div>

