
@{
    ViewData["Title"] = "Index";
}


<div>
    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl">User Journeys</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="cd-status-panel">
                <h3 class="govuk-heading-l">132</h3>
                <div class="govuk-heading-s">live courses</div>
            </div>
            <div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Add a new course</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Search for a course</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="cd-status-panel">
                <h3 class="govuk-heading-l">132</h3>
                <div class="govuk-heading-s">Archived courses</div>
            </div>
            <div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Archive course</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Restore courses</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="cd-status-panel">
                <h3 class="govuk-heading-l">132</h3>
                <div class="govuk-heading-s">pending courses</div>
            </div>
            <div>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="#">Benefits calculators</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Benefit overpayments</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">Benefit fraud</a>
                    </li>
                    <li>
                        <a class="govuk-link" href="#">More</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="govuk-body">Select a journey from the list below</p>


    <ul class="govuk-list">
        <li><a asp-controller="Providers" asp-action="add">Add a provider</a></li>
        <li><a asp-controller="Providers" asp-action="Index">Search for a provider</a></li>
        <li><a asp-controller="Lars" asp-action="Index">LARS Search</a></li>
        <li><a asp-controller="AddCourse" asp-action="Index">Add a course</a></li>
        <li><a asp-controller="Styleguide" asp-action="Index">Styleguide</a></li>
        <li><a asp-controller="Courses" asp-action="Index">Courses</a></li>
        <li><a class="govuk-link" asp-controller="Courses" asp-action="CourseListfullwidth">full width page your courses</a></li>
    </ul>
</div>

