
@{
    ViewData["Title"] = "Index";
}


<div class="cd-dashboard provider">
    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl cd-dashboard-title">Migration Report</h1>
    <hr class="spacer" />



    <div class="govuk-grid-row govuk-body">

        <div class="govuk-grid-column-two-thirds">
            <p>We have migrated your data to the new course directory, you had X courses. x courses were lost  
            because they had no lars, x courses need to be fixed because of errors, x have been deleted because 
            their start date is over 12 months old and x were migrated successfully. You can view futher details below.</p>


            <div class="govuk-!-margin-top-9 cd-migration-report-item">
                <span class="govuk-heading-m"><strong>[Number]</strong> courses lost due to not having lars references </span>



                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View
                        </span>
                    </summary>
                    <div class="govuk-details__text">

                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>

                    </div>
                </details>
                <hr class="govuk-section-break govuk-section-break--visible" />
            </div>
            <div class="cd-migration-report-item">
                <span class="govuk-heading-m"><strong>[Number]</strong> courses lost due to being over 12 months old </span>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View
                        </span>
                    </summary>
                    <div class="govuk-details__text">

                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                        <div class="cd-activity-item">
                            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>

                    </div>
                </details>
                <hr  class="govuk-section-break govuk-section-break--visible"/>
            </div>
            <div class="cd-migration-report-item">
                <span class="govuk-heading-m"><strong>[Number]</strong> courses not migrated due to having errors</span>
                <p></p>
                <a asp-controller="Migration" asp-action="FixErrors" class="govuk-link">Fix errors</a>

            </div>
            <hr class="govuk-section-break govuk-section-break--visible" />
            <div class="cd-migration-report-item">
                <span class="govuk-heading-m"><strong>[Number]</strong> courses migrated successfully</span>
                <a asp-controller="Courses" asp-action="CourseListfullwidth6" class="govuk-link">View</a>

            </div>
            <hr class="govuk-section-break govuk-section-break--visible" />
            <a asp-controller="Home" asp-action="index" class="govuk-button govuk-!-margin-top-6">Continue to course directory</a>
        </div>
        <div class="govuk-grid-column-one-third">


        </div>
    </div>

</div>

