
@{
    ViewData["Title"] = "Index";
}


<div class="cd-dashboard provider">
    <span class="govuk-caption-xl">Course Directory</span>
    <h1 class="govuk-heading-xl cd-dashboard-title">QA</h1>
    <hr class="spacer" />

    <div class="govuk-grid-row govuk-!-margin-bottom-9">

        <div class="govuk-grid-column-two-thirds">

            <table class="govuk-table">
                <caption class="govuk-table__caption">Month you apply</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header app-custom-class" scope="col">Date</th>
                        <th class="govuk-table__header app-custom-class" scope="col">Rate for vehicles</th>
                        <th class="govuk-table__header app-custom-class" scope="col">Rate for bicycles</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">First 6 weeks</th>
                        <td class="govuk-table__cell">£109.80 per week</td>
                        <td class="govuk-table__cell">59.10 per week</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Next 33 weeks</th>
                        <td class="govuk-table__cell">£159.80 per week</td>
                        <td class="govuk-table__cell">£89.10 per week</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Total estimated pay</th>
                        <td class="govuk-table__cell">£4,282.20</td>
                        <td class="govuk-table__cell">£2,182.20</td>
                    </tr>
                </tbody>
            </table>



        </div>

    </div>

</div>

