.cd-nonregulated-provision {
  background-color: #f8f8f8;
  padding: 1em 0.5em 0 0.5em;
  margin-bottom: 2em;
}

.cd-nonregulated-provision > * {
  padding-right: 1.5em;
}

.cd-non-regulated-filters {
  background-color: #f8f8f8;
}

.provision-container {
  border: 1px solid #bfc1c3;
  padding: .5em;
}

.provision-container .provision-title {
  margin-top: 0;
}
