
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Apprenticeships" asp-action="CourseType"class="govuk-back-link">Back</a>
<div class="cd-dashboard govuk-grid-row govuk-body ">

    <div class="govuk-form-group govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset" aria-describedby="question">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Location details
                </h1>
            </legend>
            <span class="govuk-body" id="question">
                Which of your locations can you deliver this training?
            </span>
            <div class="govuk-form-group govuk-!-margin-top-7">
                <label class="govuk-label--m " for="sort">
                    Select a location
                </label>
                <br />
                <select class="govuk-select govuk-!-margin-right-3 govuk-!-margin-top-2 minwidth200 " id="sort" name="sort">
                    <option value="published">Venue 1</option>
                    <option value="updated" selected>Select a location</option>
                    <option value="views">Venue 3</option>
                    <option value="comments">Venue 4</option>
                </select>
                <a href="#" class="govuk-link">The training location isn’t shown here</a>
            </div>
            <div class="govuk-form-group govuk-!-margin-top-7">
                <span class="govuk-heading-m govuk-!-margin-bottom-1">
                    How can you deliver this training?

                </span>
                <span id="waste-hint" class="govuk-hint">
                    Select all that apply.
                </span>
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-1" name="waste-1" type="checkbox" value="Day release">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                            Day release
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste-2" name="waste-2" type="checkbox" value="Block release">
                        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                            Block release
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="govuk-!-margin-top-7">
            <a class="govuk-button govuk-!-margin-right-2" asp-controller="Apprenticeships" asp-action="Summary">Continue</a>
            <a id="List" class="govuk-button govuk-button--secondary">Add another</a>
        </div>

        <table id="ResultsTable" class="govuk-table hide">
            <caption class="govuk-table__caption">Delivery options</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Location</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Attendance mode</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                </tr>
            </thead>
            <tbody id="Results" class="govuk-table__body">


            </tbody>
        </table>

        <div ></div>
    </div>



</div>

