
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Apprenticeships" asp-action="add" class="govuk-back-link">Back</a>
<div class="cd-dashboard provider apprenticeship-type govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Delete your delivery location
        </h1>
        <p class="govuk-body">You are about to delete this location </p>
        <div class="cta-container">
            <a class="govuk-button govuk-!-margin-right-3" asp-controller="Apprenticeships" asp-action="DeleteConfirm">Delete</a>
            <a class="govuk-link" asp-controller="Apprenticeships" asp-action="classroombased">Cancel</a>
        </div>
</div>

