@{
    Layout = "_Layout";
    ViewData["Title"] = "Find a Qualification";
    ViewData["Subtext"] = "Enter a search term or LARS/QAN to begin your search";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}

<partial name="_CDHeroSearch" />
<div class="">
    <h2>found <span>10</span> results for <span>Biology</span></h2>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds ">

            <div class="cd-apprenticeships-results">

            </div>
            <partial name="_CDPagination" />
        </div>
    </div>




</div>