@{
    Layout = "_Layout";
    ViewData["Title"] = "Find a Qualification";
    ViewData["Subtext"] = "Enter a search term or LARS/QAN to begin your search";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}

<partial name="_CDHeroSearch" />
<div class="">
    <span class="govuk-heading-m">found <span>10</span> results for <span>Biology</span></span>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds ">

            <div class="cd-apprenticeships-results">

                <div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Foundation Degree in Biological Sciences</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">5</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Health Studies: Biosciences - Central Sussex College</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Medicine and Medical Biosciences - City and Islington College</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">PGCE in Secondary (Biology) - Bradford College</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">7</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">BSc (Hons) in Applied Biomedical Science - University of Westminster - Healthcare Science Practitioner Standard</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">6</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">BSc (Hons) in Applied Biomedical Sciences ? University of Brighton ? Healthcare Science Practitioner Degree Apprenticeship</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">6</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Biomedical Sciences</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Biology combined with Chemistry</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Biochemistry and Biomedical Science</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search-result__container">
                        <h3 class="govuk-heading-m">Access to Higher Education Diploma: Science for Bioscience</h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <p class="govuk-body"><a class="govuk-link" href="/apprenticeships/add">Choose this apprenticeship</a></p>
                    </div>
                </div>
            </div>
            <partial name="_CDPagination" />
        </div>
    </div> 
</div>