@{
    Layout = "_Layout";
    ViewData["Title"] = "Find apprenticeship";
    ViewData["Subtext"] = "Search by name or keyword for the apprenticeship delivered by your training course.";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}
<div class="apprenticeship-search-page">
    <div>
        <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
        <p class="column-two-thirds govuk-body">@ViewBag.Subtext</p>
    </div>
    <div class="site-search ui-front" id="header-search" role="search">
        <div class="header-search-content">

            <div class="search-input-wrapper govuk-!-margin-bottom-4">

                <input class="govuk-input govuk-!-width-two-thirds search-input js-search-focus" id="search" name="SearchTerm" type="search">
                <div class="cd-c-search__item cd-search__submit-wrapper">
                    <button type="submit" class=" submit">Search</button>
                </div>
            </div>
        </div>
    </div>


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds ">

            <div class="cd-apprenticeships-results hide govuk-body">
                <div class="govuk-!-margin-bottom-4">
                    <span>Found <strong>[Number]</strong> results for <strong>[Search term]</strong></span>
                </div>


            </div>
            <partial name="_CDPagination" />
        </div>
    </div>
</div>