@{
    Layout = "_Layout";
    ViewData["Title"] = "Find apprenticeship";
    ViewData["Subtext"] = "Search by name or keyword for the apprenticeship delivered by your training course.";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}
<div class="apprenticeship-search-page">
    <div>
        <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
        <p class="column-two-thirds govuk-body">@ViewBag.Subtext</p>
    </div>
    <form action="javascript:void(0);" class="site-search ui-front" id="header-search" role="search">
        <div class="header-search-content">

            <div class="search-input-wrapper govuk-!-margin-bottom-4">

                <input class="govuk-input govuk-!-width-two-thirds search-input js-search-focus" id="search" name="SearchTerm" type="search">
                <div class="cd-c-search__item cd-search__submit-wrapper">
                    <button type="submit" class=" submit">Search</button>
                </div>
            </div>
        </div>
    </form>


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds ">

            <div class="cd-apprenticeships-results hide govuk-body design2">
                <div class="govuk-!-margin-bottom-4">
                    <span>Found <strong>[Number]</strong> results for <strong>[Search term]</strong></span>
                </div>
                <div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"> 
                            <a class="govuk-link" href="/apprenticeships/add">Network Engineer</a>
                            <span class="govuk-!-margin-left-3 govuk-tag tag-grey">Framework</span>
                         </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">5</span></p>
                       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">Software Developer</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">Aerospace Manufacturing Fitter</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">Mechatronics Maintenance Technician</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">7</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Installation Electrician/Maintenance Electrician
</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">6</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Power Network Craftsperson
</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">6</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Relationship Manager (Banking)
</a>  </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Financial Services Administrator
</a></h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Control /Technical Support Engineer (degree)
</a> </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div><div>
                    <div class="cd-apprenticeships-search2-result__container">
                        <h3 class="govuk-heading-m"><a class="govuk-link" href="/apprenticeships/add">
    Product Design and Development Technician
</a>  </h3>
                        <p class="govuk-body">Level: <span class="govuk-!-font-weight-bold">3</span></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    </div>
                </div>
                <partial name="_CDPagination" />
            </div>

        </div>
    </div>
</div>