@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="Venues" asp-action="Index" class="govuk-back-link">Back</a>
<div class="govuk-grid-row govuk-body">
    <main class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Add a location</h1>
        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                Location name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
        <a asp-controller="Venues" asp-action="Addaddress" class="govuk-button">Add address</a>
    </main>
</div>
