
@{
    ViewData["Title"] = "Index";
}


<div class="cd-dashboard govuk-grid-row govuk-body ">

    <div class="govuk-form-group govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Add additional  locations for this apprenticeship
                </h1>
            </legend>




            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    Catchment radius
                </label>
                <span id="waste-hint" class="govuk-hint">
                    what is the radius
                </span>
                <input class="govuk-input govuk-input--width-4" id="event-name" name="event-name" type="text"> <span>miles</span>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    Select a location
                </label>
                <span id="waste-hint" class="govuk-hint">
                    where will the course be held
                </span>
                <select class="govuk-select" id="sort" name="sort">
                    <option value="published">Location 1</option>
                    <option value="updated" selected>Location 2</option>
                    <option value="views">Location3</option>
                    <option value="comments">Location 4</option>
                </select>
                <a href="#" class="govuk-link">Add a new location</a>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <label class="govuk-label">
                            Delivery mode
                        </label>
                    </legend>
                    <span id="waste-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                100% Employer based
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Block release
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                Day release
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <a class="govuk-button" asp-controller="Apprenticeships" asp-action="Summary">Save</a>
            <a class="govuk-button" asp-controller="Apprenticeships" asp-action="AddAnotherLocation">Save and add another location</a>
        </fieldset>


        <table class="govuk-table">
            <caption class="govuk-table__caption">Locations where you provide this Apprenticeship.</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Location</th>
                    <th class="govuk-table__header" scope="col">Delivery</th>
                    <th class="govuk-table__header" scope="col">Catchment radius</th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Birmingham</th>
                    <td class="govuk-table__cell">100% employer based</td>
                    <td class="govuk-table__cell">125 miles</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            Edit
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Leeds</th>
                    <td class="govuk-table__cell">100% employer based, Work based</td>
                    <td class="govuk-table__cell">250 miles</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            Edit
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Liverpool</th>
                    <td class="govuk-table__cell">100% employer based</td>
                    <td class="govuk-table__cell">25 miles</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

