
@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Apprenticeships2" asp-action="CourseType"class="govuk-back-link">Back</a>
<div class="cd-dashboard govuk-grid-row govuk-body ">

    <div class="govuk-form-group govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4" aria-describedby="distance-from-venue-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Where can you travel?
                            <span>how far from your locations can you travel</span>
                        </h1>
                    </legend>
                    <span id="distance-from-venue-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <span>Your locations</span>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="venue-conditional" name="venue-1" type="checkbox" value="venue-1" data-aria-controls="conditional-venue-conditional">
                            <label class="govuk-label govuk-checkboxes__label" for="venue-conditional">
                                Mercury House
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-venue-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="miles-input-1">
                                    Distance
                                </label>
                                <input class="govuk-input govuk-input--width-4 no-right-border" id="miles-input-1" name="miles-input-1" type="number" >
                                <span class="miles">miles</span>
                            </div>

                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="venue-conditional-2" name="venue-2" type="checkbox" value="venue-2" data-aria-controls="conditional-venue-conditional-2">
                            <label class="govuk-label govuk-checkboxes__label" for="venue-conditional-2">
                                Cheylesmore House
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-venue-conditional-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="miles-input-2">
                                    Distance
                                </label>
                                <input class="govuk-input govuk-input--width-4 no-right-border" id="miles-input-2" name="miles-input-2" type="number">
                                <span class="miles">miles</span>
                            </div>

                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="venue-conditional-3" name="venue-3" type="checkbox" value="venue-3" data-aria-controls="conditional-venue-conditional-3">
                            <label class="govuk-label govuk-checkboxes__label" for="venue-conditional-3">
                                Herdeyke Temple
                            </label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-venue-conditional-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="miles-input-3">
                                    Distance
                                </label>
                                <input class="govuk-input govuk-input--width-4 no-right-border" id="miles-input-3" name="miles-input-3" type="number">
                                <span class="miles">miles</span>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
            <a href="#" class="govuk-link govuk-!-margin-top-7">Add a new location</a>
        </div>
        <div class="govuk-!-margin-top-7">
            <a class="govuk-button govuk-!-margin-right-2" asp-controller="Apprenticeships" asp-action="Summary">Continue</a>

        </div>
    </div>



</div>

