
@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Enter UKPRN number";
    ViewData["Target"] = "/providers/AddResults/";
}
<div class="cd-hero-green">
    <div class="govuk-width-container">
        <partial name="_CDHeroSearch" />
    </div>
</div>
