
@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Add a Provider by entering their UKPRN";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Placeholder"] = "Enter UKPRN";
    ViewData["Area"] = "Providers";
}
<div class="cd-hero-green">
    <div class="govuk-width-container">
        <partial name="_CDHeroSearch" />
    </div>
</div>
