
@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Enter UKPRN number";
    ViewData["Target"] = "/providers/AddResults/";
    ViewData["Area"] = "Providers";
}

<div class="govuk-width-container govuk-!-margin-top-4">

    <partial name="_ConfirmationMessage" />
    <p class="govuk-body">
        <a href="#" class="govuk-link">view list of active providers</a>
    </p>
</div>


