
@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Add a Provider";
    ViewData["Subtext"] = "Enter UKPRN number";
    ViewData["Target"] = "/providers/AddResults/";
}
<div class="cd-hero-green">
    <div class="govuk-width-container">
        <partial name="_CDHeroSearch" />
    </div>
</div>
<div class="govuk-width-container govuk-!-margin-top-4">
    <span class="govuk-caption-xl"> Course Provider</span>
    <h1 class="govuk-heading-xl">Provider Added</h1>
    <a href="#">list of Providers</a>
</div>
