
@{
    ViewData["Title"] = "Provider details";
    ViewData["Area"] = "Providers";
}
<partial name="_CDBreadcrumb" />
<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <partial name="_CDProviderDetails" />
    <button type="submit" class="govuk-button">
        Continue
    </button>
    </main>






