
@{
    ViewData["Title"] = "Index";
}
<partial name="_CDProviderDetails" />
<button type="submit" class="govuk-button">
    Continue
</button>




<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#name">Enter your full name</a>
            </li>
        </ul>
    </div>
</div>



<h1 class="govuk-heading-xl">Your details</h1>

<div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="name">
        Full name
    </label>
    <span id="name-error" class="govuk-error-message">
        Enter your full name
    </span>
    <input class="govuk-input govuk-input--error" id="name" name="name" type="text" aria-describedby="name-error">
</div>

