
@{
    ViewData["Title"] = "Index";
}
<h1>details view</h1>
<h3>status</h3>
<h3>ID</h3>
<h3>UKPRN</h3>
<h3>Name</h3>
<h3>Type</h3>
<h3>Address</h3>
<h3>Web</h3>
<h3>email</h3>
<h3>telephone</h3>
<h3>created</h3>
<h3>Updated</h3>
