
@{
    ViewData["Title"] = "Index";
}

<form>
    <h1>find a provider</h1>
    <div>
        <input type="search" placeholder="enter a search term" aria-controls="" />
        <input type="submit" />
    </div>
</form>

