
@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Search results for";

    ViewData["Area"] = "Providers";
    ViewData["Placeholder"] = "Search for a provider";
}
<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="cd-hero-">
        <div class="govuk-width-container">
            <partial name="_CDHeroSearch" />
        </div>
    </div>
    <div class="govuk-width-container">
        @*@await Component.InvokeAsync(nameof(GovukPhaseBanner))*@
        @*<vc:govuk-phase-banner is-visible="true"></vc:govuk-phase-banner>*@
            <partial name="_CDProvidersListTable" />
            <partial name="_CDPagination" />
    </div>
</main>
