@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="govuk-grid-row">
    <main class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Fix Errors</h1>
        <p class="govuk-body">
            We have attempted to migrate your courses 15 have errors 12 are out of date.
            Before we continue you need to fix these errors using one of the following methods.
        </p>
        <div class="cd-activity-item ">
            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics <span>Fix</span> </h3> 
            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
            <span id="migration-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The venue is missing
            </span>
        </div>
        <div class="cd-activity-item">
            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
            <span id="migration-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The venue is missing
            </span>
        </div>
        <div class="cd-activity-item">
            <h3 class="govuk-heading-s cd-activity-item-heading ">Maths and applied physics</h3>
            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
            <span id="migration-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The venue is missing
            </span>
        </div>
    </main>
</div>
