@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="govuk-grid-row">
    <main class="govuk-grid-column-full govuk-body ">
        <h1 class="govuk-heading-l">Migration status report</h1>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel">
                    <h2 class="cd-migration-panel__title">FE providers migrated</h2>
                    <span class="cd-migration-panel__number">1,234</span><br />
                    <span class="govuk-body-s">12% of all 12,345 providers</span>
                </div>
            </div>
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel  ">
                    <h2 class="cd-migration-panel__title">FE courses migrated</h2>
                    <span class="cd-migration-panel__number">43,210</span><br />
                    <span class="govuk-body-s">10% of all 43,218 courses</span>
                </div>
            </div>
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel">
                    <h2 class="cd-migration-panel__title">FE courses with errors</h2>
                    <span class="cd-migration-panel__number">8,912</span><br />
                    <span class="govuk-body-s">14% of 99,876 migrated courses</span>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel">
                    <h2 class="cd-migration-panel__title">Apprenticeship training providers migrated</h2>
                    <span class="cd-migration-panel__number">1,234</span><br />
                    <span class="govuk-body-s">12% of all 12,345 providers</span>
                </div>
            </div>
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel  ">
                    <h2 class="cd-migration-panel__title">Apprenticeship training migrated</h2>
                    <span class="cd-migration-panel__number">43,210</span><br />
                    <span class="govuk-body-s">10% of all 43,218 courses</span>
                </div>
            </div>
            <div class="govuk-grid-column-one-third homepage-item ">
                <div class="cd-migration-panel">
                    <h2 class="cd-migration-panel__title">Apprenticeship training with errors</h2>
                    <span class="cd-migration-panel__number">8,912</span><br />
                    <span class="govuk-body-s">14% of 99,876 migrated courses</span>
                </div>
            </div>
        </div>
        @*<div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-full">
                <div class="cd-migration-panel__full">
                    765 errors have been fixed in the last 28 days
                </div>
            </div>
        </div>*@
        <div class="govuk-grid-row govuk-!-margin-bottom-6 ">


            <div class="govuk-grid-column-one-third">
                @*<div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                            Filter

                        </legend>

                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                   F.E.
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Apprenticeships
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </div>*@
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2>Migration data by provider</h2>
                <p><a href="#" class="govuk-link">Download as csv</a></p>
                <table class="govuk-table sortable">
                    @*<caption class="govuk-table__caption govuk-!-margin-bottom-6">Migration data quality by provider</caption>*@
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th data-sort="name" class="govuk-table__header app-custom-class main" scope="col">Provider </th>
                            <th data-sort="name" class="govuk-table__header app-custom-class main" scope="col">Provider type</th>
                            <th data-sort="number" class="govuk-table__header app-custom-class main" scope="col">Migration rate  </th>
                            <th data-sort="number" class="govuk-table__header app-custom-class main" scope="col">Migrated </th>
                            <th data-sort="number" class="govuk-table__header app-custom-class main" scope="col">Not migrated </th>
                            <th data-sort="number" class="govuk-table__header app-custom-class main" scope="col">Errors </th>
                            <th data-sort="number" class="govuk-table__header app-custom-class main" scope="col">Live </th>
                            <th data-sort="date" class="govuk-table__header app-custom-class main" scope="col">Migration date</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">Liverpool Adult learning</a></th>
                            <td class="govuk-table__cell">FE</td>
                            <td class="govuk-table__cell">23 Apr 2019</td>
                            <td class="govuk-table__cell text-align-right">175</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="nottransferred" class="govuk-link">18</a></td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="nottransferred" class="govuk-link">79</a></td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="courses" asp-action="courselistfullwidth6" class="govuk-link">78</a></td>
                            <td class="govuk-table__cell text-align-right">12%</td>

                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">WARWICKSHIRE COUNTY COUNCIL</a></th>
                            <td class="govuk-table__cell">FE</td>
                            <td class="govuk-table__cell">23 Apr 2019</td>
                            <td class="govuk-table__cell text-align-right">32</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="nottransferred" class="govuk-link">23</a></td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="courses" asp-action="courselistfullwidth6" class="govuk-link">9</a></td>
                            <td class="govuk-table__cell text-align-right">25%</td>

                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">URDANG SCHOOLS LIMITED</a></th>
                            <td class="govuk-table__cell">FE</td>
                            <td class="govuk-table__cell">23 Apr 2019</td>
                            <td class="govuk-table__cell text-align-right">6</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="courses" asp-action="courselistfullwidth6" class="govuk-link">6</a></td>
                            <td class="govuk-table__cell text-align-right">16%</td>

                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">CIVIL CEREMONIES LIMITED</a></th>
                            <td class="govuk-table__cell">A</td>
                            <td class="govuk-table__cell">23 Jan 2019</td>
                            <td class="govuk-table__cell text-align-right">23</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="fixerrors" class="govuk-link">23</a></td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right">1%</td>

                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">CARMEL COLLEGE</a></th>
                            <td class="govuk-table__cell">FE</td>
                            <td class="govuk-table__cell">23 Jun 2019</td>
                            <td class="govuk-table__cell text-align-right">50</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="fixerrors" class="govuk-link">50</a></td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right">1%</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header underline" scope="row"><a href="#" class="govuk-link">Manchester Adult Education Service</a></th>
                            <td class="govuk-table__cell">FE</td>
                            <td class="govuk-table__cell">23 Jun 2019</td>
                            <td class="govuk-table__cell text-align-right">233</td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right"><a asp-controller="migration" asp-action="fixerrors" class="govuk-link">233</a></td>
                            <td class="govuk-table__cell text-align-right">0</td>
                            <td class="govuk-table__cell text-align-right">1%</td>
                        </tr>
                    </tbody>
                </table>
                <partial name="_CDPagination" />
            </div>
        </div>
    </main>
</div>


