@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Lars Search";
    ViewData["Subtext"] = "Enter a LARS or QAN to begin your search";
    ViewData["Target"] = "/lars/Results/";
    ViewData["Placeholder"] = "Enter reference";
}
<div class="cd-hero-green">
    <div class="govuk-width-container">
        <partial name="_CDHeroSearch" />
    </div>
</div>