@{
    Layout = "_Layout";
    ViewData["Title"] = "Choose a non-regulated provison";
    ViewData["Subtext"] = "Use the filters below to find the provision you are looking for.";
    ViewData["Target"] = "/lars/Results/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}
<div >
    <div class="cd-fullwidth-">
        <partial name="_CDNonRegulatedSearch" />
    </div>
</div>