@{
    Layout = "_Layout";
    ViewData["Title"] = "Non regulated provison";
    ViewData["Subtext"] = "Enter a search term or LARS/QAN to begin your search";
    ViewData["Target"] = "/lars/Results/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}
<div >
    <div class="cd-fullwidth-container">

        <partial name="_CDNonRegulatedSearch" />
    </div>
</div>