@{
    Layout = "_LayoutFullWidthHero";
    ViewData["Title"] = "Non regulated provison";
    ViewData["Subtext"] = "Enter a search term or LARS/QAN to begin your search";
    ViewData["Target"] = "/lars/Results/";
    ViewData["Placeholder"] = "Search";
    ViewData["Area"] = "Qualifications";
}
<div class="cd-hero-green">
    <div class="govuk-width-container">

        <partial name="_CDNonRegulatedSearch" />
    </div>
</div>