@{
    Layout = "_Layout";
    ViewData["Title"] = "Search for a course provison";
    ViewData["Subtext"] = "Find the provision you'll be awarding with your course.";
    ViewData["Target"] = "/lars/singleResult/";
    ViewData["Placeholder"] = "Enter a Z code";
    ViewData["Area"] = "Qualifications";
}
<div >
    <div class="">
        <a href="#" class="govuk-back-link">Back</a>
        <partial name="_CDNonRegulatedSearchInput" />
    </div>
</div>