<header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a asp-controller="Home" asp-action="index" class="govuk-header__link govuk-header__link--homepage">
            </a>
        </div>
        <div class="govuk-header__content">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Publish to the course directory
            </a>
            <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            @*<nav>
                <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                        <a class="govuk-header__link" href="#1">
                            Navigation item 1
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#2">
                            Navigation item 2
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#3">
                            Navigation item 3
                        </a>
                    </li>
                </ul>
            </nav>*@
        </div>
    </div>
    <div class="cd-header-blue">
        <div class="govuk-width-container">
            <div class="govuk-grid-row row">
                <div class="govuk-grid-column-one-half">Cambridge college</div>
                <div class="govuk-grid-column-one-half right">James Brown<a href="#">Sign out</a></div>
            </div>
        </div>
    </div>

    <div class="cd-header-menu">
        <div class="govuk-width-container">
            <div class="govuk-grid-row row">
                <div class="govuk-grid-column-full">
                    <a href="#">Home</a>
                    <a href="#">Venues</a>
                    <a href="#">Courses</a>
                    <a href="#">Add a course</a>
                </div>

            </div>
        </div>
    </div>

</header>

<p>
    <bold style="font-weight:700">Plese note these links:</bold><br />
    Help <br /> Cookies  <br />Contact <br /> Terms and conditions<br />
    are removed from the footer for now but let's keep them on the radar and update once we know where they should point to.

</p>

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <!-- <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#1">
                Help
            </a>
        </li>
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#2">
                Cookies
            </a>
        </li>
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
                Contact
            </a>
        </li>
        <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#4">
                Terms and conditions
            </a>
        </li>
    </ul>-->

                <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>

        </div>
    </div>
</footer>


<br />
