@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>

</form>
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-l">Bulk Upload process</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    <p>
                        Create a file with the courses you want to publish. You can either
                        use a blank template or download a file of the courses that
                        are published now and amend it.
                    </p>

                    <p>
                        When you upload it you will be able to fix any errors
                        before publishing and replace the courses you currently have
                        listed in the course directory.
                    </p>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload-1">
                            Upload a file
                        </label>
                        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                    </div>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            Performing this action will overwrite all other content on the course directory.
                        </strong>
                    </div>
                    <button type="submit" class="govuk-button">
                        upload
                    </button>
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Templates</h2>
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link">Download current courses as csv template</a></li>
                    <li><a href="#" class="govuk-link">Download  blank template (csv format)</a></li>

                </ul>
            </div>
        </div>

    </main>
</div>

