@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>

</form>
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-l">Bulk upload course information</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    <p>
                        You can use a file to replace information about all of your published courses. To create the file you can:
                        <ul>
                            <li>enter your course information in a blank file</li>
                            <li>update a template containing youe current course information</li>
                        </ul>
                    </p>
                    <p>
                        Your updated course information will be published after you have uploaded your file and fixed any errors.
                    </p>

                    <div class="govuk-form-group">
                        <label class=" govuk-heading-s" for="file-upload-1">
                            Upload a file
                        </label>
                        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                    </div>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            You'll replace all information about your courses if you continue.
                        </strong>
                    </div>


                    <div class="cta-container">
                        <a class="govuk-button govuk-!-margin-right-3 " asp-controller="Home" asp-action="index6">Continue</a>
                        <a class="govuk-link " asp-controller="Home" asp-action="Index6">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <aside class="sidebar">

                    <div class="widget white">
                        <h3 class="govuk-heading-s">Templates</h3>

                        <ul class="govuk-list">
                            <li><a href="#" class="govuk-link">Download a blank template</a></li>
                            <li><a href="#" class="govuk-link">Download a template containing your current courses</a></li>
                        </ul>

                    </div>
                </aside>

            </div>
        </div>

    </main>
</div>

