@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="govuk-heading-l">Add a course</h1>
<form>
<div class="govuk-character-count govuk-!-margin-bottom-9" data-module="character-count" data-maxlength="200">
    <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24" for="with-hint">
            Who is this course for?
        </label>
        <span id="with-hint-hint" class="govuk-hint">
            Who will attend.
        </span>
        <textarea class="govuk-textarea js-character-count " id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-hint"></textarea>
    </div>

    <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 200 characters
    </span>
</div>


<div class="govuk-character-count govuk-!-margin-bottom-9" data-module="character-count" data-maxlength="200">
    <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24" for="with-hint">
            Entry Requirements
        </label>
        <span id="rwith-hint-hint" class="govuk-hint">
            Please list the entry requirements for this course.
        </span>
        <textarea class="govuk-textarea js-character-count " id="rwith-hint" name="rwith-hint" rows="5" aria-describedby="rwith-hint-hint"></textarea>
    </div>

    <span id="rwith-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 200 characters
    </span>
</div>


<div class="govuk-character-count govuk-!-margin-bottom-9" data-module="character-count" data-maxlength="200">
    <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24" for="with-hint">
            What You'll learn
        </label>
        <span id="gwith-hint-hint" class="govuk-hint">
            Details of topics covered on the course.
        </span>
        <textarea class="govuk-textarea js-character-count " id="gwith-hint" name="gwith-hint" rows="5" aria-describedby="gwith-hint-hint"></textarea>
    </div>

    <span id="gwith-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 200 characters
    </span>
</div>

<div class="govuk-character-count govuk-!-margin-bottom-9" data-module="character-count" data-maxlength="200">
    <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24" for="with-hint">
            How You'll learn
        </label>
        <span id="gwith-hint-hint" class="govuk-hint">
            Decribe the course delivery methods.
        </span>
        <textarea class="govuk-textarea js-character-count " id="gwith-hint" name="gwith-hint" rows="5" aria-describedby="gwith-hint-hint"></textarea>
    </div>

    <span id="gwith-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 200 characters
    </span>
</div>
<button type="submit" class="govuk-button" formaction="/AddCourse/Details" formmethod="post">
    Continue
</button>
</form>