@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="cd-hero-search">
    <div class="content-container">

        <partial name="_CDBreadcrumb" />
        <div class="grid-row" data-sf-element="Row">
            <div class="column-two-thirds">
                <div>
                    <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
                    <p class="column-two-thirds govuk-heading-m">@ViewBag.Subtext</p>
                </div>
                <form action="@ViewBag.Target" class="site-search ui-front" id="header-search" method="post">
                    <div class="header-search-content">
                        <div class="search-input-wrapper">
                            <input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" id="SearchTerm" name="SearchTerm" type="search" placeholder="@ViewBag.Placeholder">
                            <div class="cd-c-search__item cd-search__submit-wrapper">
                                <button type="submit" class=" submit">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>