@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="cd-hero-search">
    <div class="content-container">
        <div class="grid-row govuk-body" data-sf-element="Row">
            <div class="column-two-thirds">
                <div>
                    <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
                    <p class="column-two-thirds">@ViewBag.Subtext</p>
                </div>
                <form action="@ViewBag.Target" class="site-search ui-front" id="header-search" method="post" role="search">
                    <div class="header-search-content">

                        <div class="search-input-wrapper">
                            <label class="cd-search__label" for="search">@ViewBag.Placeholder</label>
                            <input class="govuk-input govuk-!-width-two-thirds search-input js-search-focus" id="search" name="SearchTerm" type="search">
                            <div class="cd-c-search__item cd-search__submit-wrapper">
                                <button type="submit" class=" submit">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>