@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class=""></header>
    <div class="cd-fullwidth-container">
        <div class="grid-row govuk-body" data-sf-element="Row">
            <div class="">
                <div>
                    <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
                    <p class="column-two-thirds">@ViewBag.Subtext</p>
                </div>
                <div class="govuk-grid-row cd-nonregulated-provision ">
                    <div class="">
                        <div class="cd-grid-coloumn-20">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="level1">
                                    Level 1
                                </label>
                                <select class="govuk-select" id="level1" name="level1">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected> choose a sector area</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                        </div>
                        <div class="cd-grid-coloumn-80">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="level2">
                                    Level 2
                                </label>
                                <select class="govuk-select" id="level2" name="level2">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Choose a sector area</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="cd-non-regulated-filters cd-grid-coloumn-20">
                        <div class="govuk-form-group">

                            <select class="govuk-select" id="category" name="category">
                                <option value="published">Recently published</option>
                                <option value="updated" selected>Select a category</option>
                                <option value="views">Most views</option>
                                <option value="comments">Most comments</option>
                            </select>

                            <select class="govuk-select" id="level" name="level">
                                <option value="published">Recently published</option>
                                <option value="updated" selected>Select a level</option>
                                <option value="views">Most views</option>
                                <option value="comments">Most comments</option>
                            </select>

                            <select class="govuk-select" id="hours" name="hours">
                                <option value="published">Recently published</option>
                                <option value="updated" selected>Select course hours</option>
                                <option value="views">Most views</option>
                                <option value="comments">Most comments</option>
                            </select>
                        </div>
                    </div>
                    <div class="cd-grid-coloumn-80">
                        <div class="provision-container">
                            <h2 class="provision-title">
                                Non regulated Adult skills formula funded provision, Pre-Entry Level,
                                Maths, 93 to 100 hrs
                            </h2>
                            <span>LARS/QAN :</span> <span>Z00004395</span><br />
                            <span>Level :</span> <span>E</span><br />
                            <a href="#">Add this provison</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
