@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pagination govuk-body">
    <ul>
        <li class="pagination__item"><a href="#">1</a></li>
        <li class="pagination__item"><a href="#">2</a></li>
        <li class="pagination__item"><a href="#">3</a></li>
        <li class="pagination__item"><a href="#">4</a></li>
        <li class="pagination__item"><a href="#">5</a></li>
        <li class="pagination__item"><a href="#">6</a></li>
        <li class="pagination__item"><a href="#">7</a></li>
        <li class="pagination__item"><a href="#">8</a></li>
        <li class="pagination__item"><a href="#">Next</a></li>
    </ul>
</div>