<header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container  cd-fullwidth-container">

        <div class="govuk-header__logo">
            <a asp-controller="Home" asp-action="index" class="govuk-header__link govuk-header__link--homepage">

            </a>
        </div>
        <div class="govuk-header__content">

            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Course Directory
            </a>

            <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            @*<nav>
                <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                        <a class="govuk-header__link" href="#1">
                            Navigation item 1
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#2">
                            Navigation item 2
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#3">
                            Navigation item 3
                        </a>
                    </li>
                </ul>
            </nav>*@
        </div>
    </div>
</header>

<div class="cd-subHead">
    <div class="cd-fullwidth-container">
        <strong class="govuk-tag ">
            status /user data here
        </strong>
    </div>

</div>
<div class="govuk-phase-banner cd-fullwidth-container">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<div class="navigation-container cd-fullwidth-container govuk-body">
    <nav class="cd-secondary-nav">
        <a class="cd-secondary-nav--item" ahref="">venue</a>
        <a class="cd-secondary-nav--item" ahref="">item</a>
    </nav>
</div>