<header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container  cd-fullwidth-container">

        <div class="govuk-header__logo">
            <a asp-controller="Home" asp-action="index" class="govuk-header__link govuk-header__link--homepage">

            </a>
        </div>
        <div class="govuk-header__content">

            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Course Directory
            </a>

            <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            @*<nav>
                <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                        <a class="govuk-header__link" href="#1">
                            Navigation item 1
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#2">
                            Navigation item 2
                        </a>
                    </li>
                    <li class="govuk-header__navigation-item">
                        <a class="govuk-header__link" href="#3">
                            Navigation item 3
                        </a>
                    </li>
                </ul>
            </nav>*@
        </div>
    </div>
</header>