.govuk-header__container.cd-fullwidth-container {
    margin-bottom:-10px;

}

.cd-fullwidth-container {
    width: 90%;
    margin: 0 auto;

    .cd-grid-coloumn-three-quarters {
        width: 75%;
        float: left;
    }

    .cd-grid-coloumn-85 {
        width: 85%;
        float: left;
    }

    .cd-grid-coloumn-15 {
        width: 15%;
        float: left;
        padding:1em;
        box-sizing:border-box;
    }
}
