.cd-nonregulated-provision {
    background-color: #f8f8f8;
    padding: 1em .5em;
    border: 1px solid #bfc1c3;
    //border-bottom: 2px solid black;
    //border-top: 2px solid black;
    margin-bottom: 2em;

    .cd-level-select {
        padding-right: 1.5em;
    }

    > * {
        padding-right: 1.5em;
    }
}

.cd-non-regulated-filters {
    padding: 0 1em;

    .govuk-form-group {
        display: flex;
        flex-direction: column;
    }

    .govuk-select {
        margin-bottom: 1em;
        width:auto;
    }
}

.provision-container {
    border: 1px solid #bfc1c3;
    //background-color: #f8f8f8;
    padding: .5em;

    .provision-title {
        margin-top: 0;
    }
}

.cd-action-container{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    >* {
        margin-right:1em;
    }

}
