.cd-hero-search {
    //color: white;
    padding: 0.5rem 0 2rem 0;



    .cd-search__label {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #6f777b;
        font-size:19px;
    }



    .cd-hero-search__label {
        //color: white;
    }
}

.search-input-wrapper {
    display: flex;
    position:relative;


}


.cd-hero-green {
    //background-color: #28a197;

    h1, p {
        color: white;
    }
}

.cd-search__submit-wrapper {
    background-color: black;

    .submit {
        height: 40px;
        width: 40px;
        cursor: pointer;
        overflow: hidden;
        text-indent: 50000px;
        background: black;
        background-image: url("/assets/images/icon-search-2x.png");
        background-repeat: no-repeat;
        background-position: 60% 50%;
        background-size: 24px;
        float: left;
        padding: 6px;
        border: 0;
        color: white;
        z-index: 900;
        position: relative;
    }
}



#courseStartDate {
    display: none;
}

input[value="specific"]:checked ~ #courseStartDate {
    display: block;
}
