@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1 class="govuk-heading-xl">Advertise a course</h1>
    <ul class="govuk-list">
        <li><a class="govuk-link" asp-controller="Lars" asp-action="Index">Add a new course</a></li>
        <li><a class="govuk-link" href="#">Bulk upload courses</a></li>
    </ul>
</div>