@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div>
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application complete
                    </h1>
                    <div class="govuk-panel__body">
                        Your reference number
                        <br><strong>HDJ2123F</strong>
                    </div>
                </div>

                <p class="govuk-body">We have sent you a confirmation email.</p>

                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                    Your course has been added to the course directory you can select form the options below to continue you journey.
                </p>


                <p class="govuk-body">
                    <a asp-controller="AddCourse" asp-action="Index">Advertise another course</a><br />
                    <a asp-controller="Courses" asp-action="CourseList">Manage your courses</a>
                </p>
            </div>
        </div>
    </main>
</div>
