@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-body">
    <main id="Cd-course-list" class="govuk-mainwrapper">
        <span class="govuk-caption-xl">Course directory</span>
        <h1 class="govuk-heading-xl">Your published courses</h1>
        <p class="govuk-body-l">These are the courses you have listed on the course directory.</p>
        <div>
            <partial name="_CDHeroSearch" />
        </div>
        <div class="govuk-grid-row  ">
            <div class="cd-course-list-filters">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Sort by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Level</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Sort by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Venue</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Sort by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Attendence mode</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </div>


            <div class=" govuk-!-margin-top-9">

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="Courses" asp-action="Summaryedit">Select</a>

                    </div>
                </div>
                <partial name="_CDPagination" />
            </div>
        </div>

    </main>
</div>

