@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-body">
    <main id="Cd-course-list" class="govuk-main-wrapper">
        <span class="govuk-caption-xl">Course directory</span>
        <h1 class="govuk-heading-xl">Your published courses</h1>
        <p class="govuk-body-l">These are the courses you have listed on the course directory.</p>
        <div class="govuk-grid-row  ">

            <div class="cd-grid-coloumn-20 govuk-body">
                @*<h3 class="govukbody govuk-heading-m">Levels</h3>
                <ul class="cd-course-list-level-filter">
                    <li class="item">Level 1 (3)</li>
                    <li class="item selected">
                        Level 2 (14)
                        <ul class="sublevel">
                            <li>GCSE</li>
                            <li>NVQ</li>
                        </ul>
                    </li>
                    <li class="item">Level 3 (3)</li>
                    <li class="item">Level 4 (3)</li>
                    <li class="item">Level 5 (3)</li>
                    <li class="item">Level 6 (3)</li>
                    <li class="item">Level 7 (3)</li>
                    <li class="item">Level 8 (3)</li>
                </ul>*@
                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by level
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected> Level 1</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>

                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by venue
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Main campus</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by attendance mode
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Full time</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </div>

            <div class="cd-grid-coloumn-80 ">

                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Biology</h3>
                        <h4 class="coursename smaller "><small>Qualification name what if this is really long. <span>LARS/QAN:1000399999</span> </small></h4>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Level 3</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="CoursePage" asp-action="Index">Select</a>

                    </div>
                </div>
                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE English</h3>
                        <h4 class="coursename smaller "><small>Qualification name what if this is really long. <span>LARS/QAN:1000399999</span> </small></h4>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Level 2</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="CoursePage" asp-action="Index">Select</a>

                    </div>
                </div>
                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                        <h4 class="coursename smaller "><small>Qualification name what if this is really long. <span>LARS/QAN:1000399999</span> </small></h4>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Level 3</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="CoursePage" asp-action="Index">Select</a>

                    </div>
                </div>
                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                        <h4 class="coursename smaller "><small>Qualification name what if this is really long. <span>LARS/QAN:1000399999</span> </small></h4>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Level 3</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="CoursePage" asp-action="Index">Select</a>

                    </div>
                </div>
                <div class="courserun border">
                    <div class="courserun__row1">
                        <h3 class="coursename">GCSE Maths</h3>
                        <h4 class="coursename smaller "><small>Qualification name what if this is really long. <span>LARS/QAN:1000399999</span> </small></h4>
                    </div>
                    <div class="courserun__row2">
                        <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                    </div>
                    <div class="courserun__row3">
                        <span>maths11223354</span> <span>Day-time</span> <span>Level 3</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                    </div>
                    <div class="courserun__row4">
                        <a class="govuk-link" asp-controller="CoursePage" asp-action="Index">Select</a>

                    </div>
                </div>


                <partial name="_CDPagination" />
            </div>
        </div>

    </main>
</div>

