@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-body">
    <main id="Cd-course-list" class="govuk-main-wrapper">
        <span class="govuk-caption-xl">Course directory</span>
        <h1 class="govuk-heading-xl">Your published courses</h1>
        <p class="govuk-body-l">These courses are listed on the course directory.</p>
        <div class="govuk-grid-row">
            <div class="cd-grid-coloumn-20 govuk-body">
                <p class="govuk-body">Levels</p>
                <ul class="cd-course-list-level-filter">
                    <li>Level 1</li>
                    <li>Level 2</li>
                    <li>Level 3</li>
                    <li>Level 4</li>
                    <li>Level 5</li>
                    <li>Level 6</li>
                    <li>Level 7</li>
                    <li>Level 8</li>
                </ul>
            </div>

            <div class="cd-grid-coloumn-80">
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <div class="govuk-details__summary-text">
                            <div>
                                Diploma <span>(10)</span>
                            </div>
                            <span class="open-prompt">open</span>
                        </div>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-accordion" data-module="accordion" id="accordion-default">

                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            GCSE in Additional Mathematics (4)
                                        </span>

                                    </h2>

                                </div>
                                <span>LARS/QAN:10001800</span> <span> Level 2, </span> <span> AQA </span>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                                    <div class="courserun">
                                        <div class="courserun__row1">
                                            <span class="coursename">GCSE Maths</span>
                                        </div>
                                        <div class="courserun__row2">
                                            <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                                        </div>
                                        <div class="courserun__row3">
                                            <span>maths11223354</span> <span>Day-time</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                                        </div>
                                        <div class="courserun__row4">
                                            <a href="#" class="govuk-link">Edit</a> <a href="#" class="govuk-link">Duplicate</a> <a href="#" class="govuk-link">Delete</a>
                                        </div>
                                    </div>
                                    <div class="courserun">
                                        <div class="courserun__row1">
                                            <span class="coursename">GCSE Maths</span>

                                        </div>
                                        <div class="courserun__row2">
                                            <span class="">North, Leeds, Sheffield</span>
                                        </div>
                                        <div class="courserun__row3">
                                            <span>maths11223355</span> <span>Day-time</span><span>Work-based</span> <span>full-time</span> <span>25/01/2019</span>
                                        </div>
                                        <div class="courserun__row4">
                                            <a href="#" class="govuk-link">Edit</a> <a href="#" class="govuk-link">Duplicate</a> <a href="#" class="govuk-link">Delete</a>
                                        </div>
                                    </div>
                                    <div class="courserun">
                                        <div class="courserun__row1">
                                            <span class="coursename">GCSE Maths</span>

                                        </div>
                                        <div class="courserun__row2">
                                            <span class="">Online</span>
                                        </div>
                                        <div class="courserun__row3">
                                            <span>maths11223356</span> <span>Flexible</span><span>full-time</span> <span>25/01/2019</span>
                                        </div>
                                        <div class="courserun__row4">
                                            <a href="#" class="govuk-link">Edit</a> <a href="#" class="govuk-link">Duplicate</a> <a href="#" class="govuk-link">archive</a>
                                        </div>
                                    </div>
                                    <div class="courserun">
                                        <div class="courserun__row1">
                                            <span class="coursename">GCSE Maths</span>
                                        </div>
                                        <div class="courserun__row2">
                                            <span class="">MANYGATES ADULT EDUCATION CENTRE</span>
                                        </div>
                                        <div class="courserun__row3">
                                            <span>maths11223357</span> <span>Evenings</span> <span>Classroom based</span> <span>full-time</span> <span>25/01/2019</span>
                                        </div>
                                        <div class="courserun__row4">
                                            <a href="#" class="govuk-link">Edit</a> <a href="#" class="govuk-link">Duplicate</a> <a href="#" class="govuk-link">Delete</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                            GCSE in Additional Biology (1)
                                        </span>
                                    </h2>
                                </div>
                                <span>LARS/QAN:10001800</span> <span> Level 2, </span> <span> AQA </span>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <p class='govuk-body'>course runs here</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                            GCSE in Chemistry (1)
                                        </span>
                                    </h2>
                                </div>
                                <span>LARS/QAN:10001800</span> <span> Level 2, </span> <span> AQA </span>
                                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                                    <p class='govuk-body'>course runs here</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                            GCSE in English (1)
                                        </span>
                                    </h2>
                                </div>
                                <span>LARS/QAN:10001800</span> <span> Level 2, </span> <span> AQA </span>
                                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                                    <p class='govuk-body'>course runs here</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </details>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <div class="govuk-details__summary-text">
                            <div>
                                Higher National Certificate to Higher National Diploma (HNC to HND) Conversion Code <span>(7)</span>
                            </div>
                            <span class="open-prompt">open</span>
                        </div>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        HNC to HND Conversion Code - Applied Biology <span>(3)</span>
                                    </div>

                                </h2>
                            </div>
                            <div>
                                <div class="cd-course--list_item-heading">
                                    <p>Level 5, EDECEL, Lars: 10064448 <a href="#">view description</a> <a href="/courses/EditQual">edit</a></p>

                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        HNC to HND Conversion Code - Applied Biology <span>(1)</span>
                                    </div>

                                </h2>
                            </div>
                            <div>
                                <div class="cd-course--list_item-heading">
                                    <p>Level 2, AQA, Lars: 10064448 <a href="#">view description</a> <a href="/courses/EditQual">edit</a></p>

                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        HNC to HND Conversion Code - Applied Biology<span>(3)</span>
                                    </div>

                                </h2>
                            </div>
                            <div>
                                <div class="cd-course--list_item-heading">
                                    <p>Level 5, AQA, Lars: 10064448 <a href="#">view description</a> <a href="/courses/EditQual">edit</a></p>

                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                    <div class="cd-course--list">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                Course name
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="name">
                                                ID
                                            </label>
                                            <input class="govuk-input" id="name" name="name" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Delivery
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Venue
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Mode
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="sort">
                                                Attendance
                                            </label>
                                            <select class="govuk-select" id="sort" name="sort">
                                                <option value="published">Recently published</option>
                                                <option value="updated" selected>Recently updated</option>
                                                <option value="views">Most views</option>
                                                <option value="comments">Most comments</option>
                                            </select>
                                        </div>
                                        <a href="/courses/editcourse">edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>

    </main>
</div>

