@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="Cd-course-list"="govuk-body">
    <h1 class="govuk-heading-xl">All courses</h1>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <div class="govuk-details__summary-text">
                Diploma <span>(10)</span>
            </div>
        </summary>
        <div class="govuk-details__text">
            <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                GCSE in Additional Mathematics<span>(3)</span>
                            </div>

                        </h2>
                    </div>
                    <div>
                        <div class="cd-course--list_item-heading">
                            <p>Level 2, AQA, Lars: 10064448 <br /><a href="#">view description</a></p>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                        Advanced learner loans available
                                    </label>
                                </div>
                            </div>
                            <a href="/courses/EditQual">edit</a>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                GCSE in Additional Biology <span>(3)</span>
                            </div>

                        </h2>
                    </div>
                    <div>
                        <div class="cd-course--list_item-heading">
                            <p>Level 2, AQA, Lars: 10064448 <br /><a href="#">view description</a></p>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                        Advanced learner loans available
                                    </label>
                                </div>
                            </div>
                            <a href="/courses/EditQual">edit</a>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                GCSE in Chemistry<span>(4)</span>
                            </div>

                        </h2>
                    </div>
                    <div>
                        <div class="cd-course--list_item-heading">
                            <p>Level 2, AQA, Lars: 10064448 <br /><a href="#">view description</a></p>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                        Advanced learner loans available
                                    </label>
                                </div>
                            </div>
                            <a href="/courses/EditQual">edit</a>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                            <div class="cd-course--list">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        Course name
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="name">
                                        ID
                                    </label>
                                    <input class="govuk-input" id="name" name="name" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Delivery
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Venue
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Mode
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="sort">
                                        Attendance
                                    </label>
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="published">Recently published</option>
                                        <option value="updated" selected>Recently updated</option>
                                        <option value="views">Most views</option>
                                        <option value="comments">Most comments</option>
                                    </select>
                                </div>
                                <a href="/courses/editcourse">edit</a>
                            </div>
                        </div>
                    </div>
                                      </div>
            </div>
        </div>
    </details>
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <div class="govuk-details__summary-text">
                Higher National Certificate to Higher National Diploma (HNC to HND) Conversion Code <span>(7)</span>
            </div>
        </summary>
        <div class="govuk-details__text">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            HNC to HND Conversion Code - Applied Biology <span>(3)</span>
                        </div>

                    </h2>
                </div>
                <div>
                    <div class="cd-course--list_item-heading">
                        <p>Level 5, EDECEL, Lars: 10064448 <br /><a href="#">view description</a></p>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                    Advanced learner loans available
                                </label>
                            </div>
                        </div>
                        <a href="/courses/EditQual">edit</a>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            HNC to HND Conversion Code - Applied Biology <span>(1)</span>
                        </div>

                    </h2>
                </div>
                <div>
                    <div class="cd-course--list_item-heading">
                        <p>Level 2, AQA, Lars: 10064448 <br /><a href="#">view description</a></p>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                    Advanced learner loans available
                                </label>
                            </div>
                        </div>
                        <a href="/courses/EditQual">edit</a>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                                                      </div>
                    </div>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <div class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            HNC to HND Conversion Code - Applied Biology<span>(3)</span>
                        </div>

                    </h2>
                </div>
                <div>
                    <div class="cd-course--list_item-heading">
                        <p>Level 5, AQA, Lars: 10064448 <br /><a href="#">view description</a></p>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                    Advanced learner loans available
                                </label>
                            </div>
                        </div>
                        <a href="/courses/EditQual">edit</a>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                        <div class="cd-course--list">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Course name
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    ID
                                </label>
                                <input class="govuk-input" id="name" name="name" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Delivery
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Venue
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Mode
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Attendance
                                </label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="published">Recently published</option>
                                    <option value="updated" selected>Recently updated</option>
                                    <option value="views">Most views</option>
                                    <option value="comments">Most comments</option>
                                </select>
                            </div>
                            <a href="/courses/editcourse">edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>

</div>