@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Make Changes</h1>
    <ul>
        <li> <a asp-controller="Courses" asp-action="Advertise">Advertise a course</a></li>
        <li> <a href="#">Make changes to a course</a></li>
        <li> <a href="#">Add a venue</a></li>
        <li> <a href="#">Archive a course</a></li>
    </ul>
</div>