@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="govuk-body">
    <main id="Cd-course-list" class="govuk-main-wrapper">
        <span class="govuk-caption-xl">Course directory</span>
        <h1 class="govuk-heading-xl">Your archived courses</h1>
        <p class="govuk-body-l">These courses are listed on the course directory select the courses you want to archive.</p>
        <div>
            <partial name="_CDHeroSearch" />
        </div>
        <div class="govuk-grid-row archive ">

            <div class="cd-grid-coloumn-20 govuk-body">
                @*<h3 class="govukbody govuk-heading-m">Levels</h3>
        <ul class="cd-course-list-level-filter">
            <li class="item">Level 1 (3)</li>
            <li class="item selected">
                Level 2 (14)
                <ul class="sublevel">
                    <li>GCSE</li>
                    <li>NVQ</li>
                </ul>
            </li>
            <li class="item">Level 3 (3)</li>
            <li class="item">Level 4 (3)</li>
            <li class="item">Level 5 (3)</li>
            <li class="item">Level 6 (3)</li>
            <li class="item">Level 7 (3)</li>
            <li class="item">Level 8 (3)</li>
        </ul>*@
                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by level
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected> Level 1</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>

                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by venue
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Main campus</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
                <div class="cd-level-select govuk-form-group">
                    <label class="govuk-label" for="level1">
                        Sort by attendance mode
                    </label>
                    <select class="govuk-select" id="level1" name="level1">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Full-time</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
                <a asp-controller="Courses" asp-action="ArchiveCheck">
                    <input type="button" class="govuk-button" value="Republish selected" />
                </a>
            </div>

            <div class="cd-grid-coloumn-80  govuk-!-padding-left-9 govuk-!-padding-top-5">

                <div class="cd-activity-item">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
                        <label class="govuk-label govuk-checkboxes__label govuk-heading-m cd-activity-item-heading " for="nationality-1">
                            Maths and applied physics
                        </label>
                        <div id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                    </div>
                </div>
                <div class="cd-activity-item">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
                        <label class="govuk-label govuk-checkboxes__label govuk-heading-m cd-activity-item-heading " for="nationality-1">
                            Maths and applied physics
                        </label>
                        <div id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                    </div>
                </div>
                <div class="cd-activity-item">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
                        <label class="govuk-label govuk-checkboxes__label govuk-heading-m cd-activity-item-heading " for="nationality-1">
                            Maths and applied physics
                        </label>
                        <div id="nationality-1-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            <span class="cd-activity-item-tag">Course ID</span> <span class="cd-activity-item-tag"> Venue</span> <span class="cd-activity-item-tag"> full-time</span> <span class="cd-activity-item-tag">25/03/2019</span>
                        </div>
                    </div>
                </div>
                <partial name="_CDPagination" />
            </div>
        </div>

    </main>
</div>