@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="govuk-grid-row">
        <div class="">

            <h1 class="govuk-heading-xl">Check your answers before publishing your course</h1>

            <h2 class="govuk-heading-m">
                50113069 City &amp; Guilds Level 2 Diploma in Health and Social Care
                (Adults) for England
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        50113069 City &amp; Guilds Level 2 Diploma in Health and Social Care
                        (Adults) for England
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/AddCourse/CourseName">
                            change
                            <span class="govuk-visually-hidden"> Course name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        CourseABC123
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="/AddCourse/CourseId">
                            change
                            <span class="govuk-visually-hidden">  Course ID</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Delivery mode
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Classroom based
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Delivery mode</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        25/03/2019
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Start date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course venue
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Newham College
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Course venue</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        URL
                    </dt>
                    <dd class="govuk-summary-list__value">
                        http:www.college.com
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> URL</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £1000
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Cost</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost description
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Loans available
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Cost description</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Advanced learner loan
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Available
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Advanced learner loan</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course Length
                    </dt>
                    <dd class="govuk-summary-list__value">
                        12 weeks
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Course Length</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Attendance pattern
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Full-time
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Attendance pattern</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Attendance time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Day time
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Attendance time</span>
                        </a>
                    </dd>
                </div>


            </dl>

            <h2 class="govuk-heading-m">Course description</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Who is this course for
                    </dt>
                    <dd class="govuk-summary-list__value">
                        This course is for you if you have no previous experience and want to get your first care job, or if you
                        are already working in care and want recognition for your current skills. If you&#39;re already working in
                        care and work mainly under supervision this course will help you to increase your skills and take on
                        more responsibility. To be successful in this field you must have an interest in caring for and helping
                        people, be kind, reliable, empathetic and compassionate towards the people you support.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Who is this course for</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Entry requirements
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Four GCSE grades 3-1 (D-G) including 3 (D) in English language, or a merit in Level 1 Diploma.
                        You will need a clear DBS enhanced disclosure in order to start the course.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> Entry requirements</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What you'll learn''
                    </dt>
                    <dd class="govuk-summary-list__value">
                        There are compulsory units that cover the core knowledge and skills you will need in any adult care
                        role. This includes understanding the legal duty of care you must abide by for those in your charge,
                        the principles of safeguarding, equality and inclusion and the person-centred approach and advocacy
                        within caring services. There will be a focus on developing your skills of communication, handling
                        information and confidentiality, as well as understanding the role of the care worker in different
                        settings. You will also be able to choose optional units for specific types of care work for example
                        working with people with dementia or learning disabilities.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> contact information</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Where next
                    </dt>
                    <dd class="govuk-summary-list__value">
                        You could find employment as an adult care worker, healthcare support worker, key worker or
                        personal care assistant. There are jobs in the NHS, private health care, with social care providers,
                        local authorities or voluntary organisations. You could provide care for people in hospitals,
                        residential care homes, day centres, supported living projects or for private individuals in their own
                        home. You could also use this qualification as a stepping stone to an apprenticeship or higher
                        qualification such as the Level 3 Diploma with a view to becoming a senior care worker.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> contact details</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What you'll need to bring
                    </dt>
                    <dd class="govuk-summary-list__value">
                        You will need an enhanced DBS clearance certificate at a cost of £??
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> What you'll need to bring</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How you'll be assessed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        You will be assessed by individual and group presentations, case studies, assignments, projects and
                        observation of your performance in the workplace.
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                            change
                            <span class="govuk-visually-hidden"> How you'll be assessed</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Now publish your course</h2>

            <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

            <form action="/courses/confirmation" method="post" novalidate>

                <input type="hidden" name="answers-checked" value="true">

                <button type="submit" class="govuk-button">
                    Accept and publish
                </button>

            </form>

        </div>
    </div>
</div>