@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="govuk-heading-xl">Styleguide</h1>
<h2 class="govuk-heading-m">Header with search bar</h2>
<section class="styleguide-item">
    <div>
        <h1 class="govuk-heading-l govuk-!-margin-top-4">Section header</h1>
        <p class="column-two-thirds govuk-heading-m">descriptive text what can the user do.</p>
    </div>
    <form action="@ViewBag.Target" class="site-search ui-front" id="header-search" method="post">
        <div class="header-search-content">
            <div class="search-input-wrapper">
                <input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" id="SearchTerm" name="SearchTerm" type="search" placeholder="Search">
                <div class="cd-c-search__item cd-search__submit-wrapper">
                    <button type="submit" class=" submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</section>
<h2 class="govuk-heading-m">Start date</h2>
<section class="styleguide-item">
    <div class="govuk-form-group govuk-!-margin-bottom-9">
        <label class="govuk-label govuk-!-font-size-24" for="with-hint">
            Start date
        </label>
        <span id="rwith-hint-hint" class="govuk-hint">
            Please select the type of start date for this course.
        </span>
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="start-date" type="radio" value="specific">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                    Specific start date
                </label>

                <div class="govuk-date-input show-radios govuk-!-margin-top-4" id="courseStartDate">
                    <span id="rwith-hint-hint" class="govuk-hint">
                        Please enter the date (dd/mm/yyyy).
                    </span>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="start-date" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Flexible start date
                </label>
            </div>

        </div>
    </div>
</section>
<h2 class="govuk-heading-m">Buttons</h2>
<section class="styleguide-item">
    <button type="submit" class="govuk-button">
        Save and continue
    </button>

    <a href="#" class="govuk-link">govuk-link</a>
</section>
<h2 class="govuk-heading-m">Character check input box</h2>
<section class="styleguide-item">
    <div class="govuk-character-count govuk-!-margin-bottom-9" data-module="character-count" data-maxlength="200">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-size-24" for="with-hint">
                Who is this course for?
            </label>
            <span id="with-hint-hint" class="govuk-hint">
                Who is this course designed for.
            </span>
            <textarea class="govuk-textarea js-character-count " id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-hint"></textarea>
        </div>

        <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 200 characters
        </span>
    </div>
</section>
<h2 class="govuk-heading-m"> works in progress</h2>
<hr class="govuk-section-break--xl govuk-section-break--visible" />
<h2 class="govuk-heading-m">Breadcrumb</h2>
<section class="styleguide-item">
    <div>
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Providers">area</a></li>
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">page</a></li>
            </ol>
        </div>
    </div>
</section>
<h2 class="govuk-heading-m">logged in</h2>
<section class="styleguide-item">
    <div class="user-status-controls govuk-body-s">
        <span>username</span><span>Organisation</span> <span><a href="#" class="govuk-link">govuk-link</a></span>
    </div>
</section>
<h2 class="govuk-heading-m">Combined</h2>
<section class="styleguide-item">
    <div class="cd-secondary-nav-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Providers">area</a></li>
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">page</a></li>
                    </ol>
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="user-status-controls govuk-body-s">
                    <span class=""><b>Username</b></span>
                    <span>Organisation</span>
                    <span><a href="#" class="govuk-link">sign out</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="govuk-heading-m">Notification messages</h2>
<section class="styleguide-item">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#dob-error">Date of birth must be in the past</a>
                </li>
                <li>
                    <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cd-success-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="cd-success-summary__title" id="error-summary-title">
            There is a problem success
        </h2>
        <div class="cd-success-summary__body">
            <ul class="govuk-list cd-success-summary__list">
                <li>
                    <a href="#dob-error">Date of birth must be in the past</a>
                </li>
                <li>
                    <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cd-warning-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem warning
        </h2>
        <div class="cd-warning-summary__body">
            <ul class="govuk-list cd-warning-summary__list">
                <li>
                    <a href="#dob-error">Date of birth must be in the past</a>
                </li>
                <li>
                    <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cd-info-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem info
        </h2>
        <div class="cd-info-summary__body">
            <ul class="govuk-list cd-info-summary__list">
                <li>
                    <a href="#dob-error">Date of birth must be in the past</a>
                </li>
                <li>
                    <a href="#postcode-error">Enter a postcode, like AA1 1AA</a>
                </li>
            </ul>
        </div>
    </div>
</section>